


    <fieldset class="module aligned with-legend suit-tab suit-tab-general show">

        <h2 class="legend">TPM

        </h2>


      <div class="control-group form-row field-approved ">

          <div>
            <div class="control-label"></div>
            <div class="controls"><a class="btn btn-info" href="https://ee.humanitarianresponse.info/single/::YS8V?returnURL=https://supply-platform.herokuapp.com/admin/planning/distributionplan/{{ object_id }}/change/#general">
              Supply Section – Zonal Offices Questionnaire
            </a></div>
            <!--<div class="control-label"><label>Approved:</label></div>-->
            <!--<div class="controls"><span class="readonly"><img src="/static/admin/img/icon-no.svg" alt="False"></span></div>-->
          </div>
        <div>
            <div class="control-label"></div>
            <div class="controls"><a class="btn btn-info" href="https://ee.humanitarianresponse.info/single/::YS8O?returnURL=https://supply-platform.herokuapp.com/admin/planning/distributionplan/{{ object_id }}/change/#general">Supply questionnaire TPM</a></div>
        </div>

      </div>


</fieldset>
