{% extends "base2.html" %}
{% load static %}
{% load util_tags %}

{% block css %}
  <style type="text/css">
    a.toggle-status:hover .dropdown-item-body { color: white !important;}
  </style>
{% endblock %}

{% block page-inner %}
    <!-- .page-title-bar -->
    <header class="page-title-bar">
      <p class="lead">
        <span class="font-weight-bold"></span>
        <span class="d-block text-muted"></span>
      </p>
    </header>
    <!-- /.page-title-bar -->
    <!-- .page-section -->
    <div class="page-section">
      <!-- .section-block -->
      <div class="section-block">
        <!-- metric row -->
        <div class="metric-row">
          <!-- metric column -->

          <div class="col-lg-3">
            <!-- .metric -->
            <span class="metric metric-bordered">
              <div class="metric-badge">
                <span class="badge badge-lg badge-primary">
                  <span class="oi oi-media-record pulse mr-1"></span> PLANNED SUPPLY PLAN </span>
              </div>
              <p class="metric-value h3">
                <sub>
                  <i class="oi oi-timer"></i>
                </sub>
                <span class="value">{{ nbr_planned }}</span>
              </p>
            </span>
            <!-- /.metric -->
          </div>

          <div class="col-lg-3">
            <!-- .metric -->
            <span class="metric metric-bordered">
              <div class="metric-badge">
                <span class="badge badge-lg badge-success">
                  <span class="oi oi-media-record pulse mr-1"></span> PLANNED DISTRIBUTION PLAN </span>
              </div>
              <p class="metric-value h3">
                <sub>
                  <i class="oi oi-timer"></i>
                </sub>
                <span class="value">{{ nbr_dist_planned }}</span>
              </p>
            </span>
            <!-- /.metric -->
          </div>

          <div class="col-lg-3">
            <!-- .metric -->
            <span class="metric metric-bordered">
              <div class="metric-badge">
                <span class="badge badge-lg badge-success">
                  <span class="oi oi-media-record pulse mr-1"></span> APPROVED DISTRIBUTION PLAN </span>
              </div>
              <p class="metric-value h3">
                <sub>
                  <i class="oi oi-timer"></i>
                </sub>
                <span class="value">{{ nbr_dist_approved }}</span>
              </p>
            </span>
            <!-- /.metric -->
          </div>

          <div class="col-lg-3">
            <!-- .metric -->
            <span class="metric metric-bordered">
              <div class="metric-badge">
                <span class="badge badge-lg badge-warning">
                  <span class="oi oi-media-record pulse mr-1"></span> WAVES DELAYED FOR DELIVERY </span>
              </div>
              <p class="metric-value h3">
                <sub>
                  <i class="oi oi-timer"></i>
                </sub>
                <span class="value">{{ nbr_delayed_delivery }}</span>
              </p>
            </span>
            <!-- /.metric -->
          </div>

          <div class="col-lg-3">
            <!-- .metric -->
            <span class="metric metric-bordered">
              <div class="metric-badge">
                <span class="badge badge-lg badge-warning">
                  <span class="oi oi-media-record pulse mr-1"></span> READY TO DISTRIBUTE </span>
              </div>
              <p class="metric-value h3">
                <sub>
                  <i class="oi oi-warning"></i>
                </sub>
                <span class="value">{{ nbr_dist_ready }}</span>
              </p>
            </span>
            <!-- /.metric -->
          </div>

          <div class="col-lg-3">
            <!-- .metric -->
            <span class="metric metric-bordered">
              <div class="metric-badge">
                <span class="badge badge-lg badge-danger">
                  <span class="oi oi-media-record pulse mr-1"></span> WAVES NOT RECEIVED </span>
              </div>
              <p class="metric-value h3">
                <sub>
                  <i class="oi oi-warning"></i>
                </sub>
                <span class="value">{{ nbr_not_received }}</span>
              </p>
            </span>
            <!-- /.metric -->
          </div>
          <!-- /metric column -->
        </div>
        <!-- /metric row -->
      </div>
      <div class="section-deck">
        <!-- .card -->
        <div class="card card-fluid">
          <header class="card-header"> Active Plans </header>
          <!-- .lits-group -->
          <div style="height:500px; overflow: scroll;">
          {% for item in plans %}
          <div class="lits-group list-group-flush">
            <!-- .lits-group-item -->
            <div class="list-group-item">
              <!-- .lits-group-item-figure -->
              <div class="list-group-item-figure">
                <div class="has-badge">
                  <a href="" class="tile tile-md {{ item.section.color }}">{{ item.section.code }}</a>
                  <a href="team" class="">
                    <!--<img src="{% static 'dashboard/team1.jpg' %}" alt="">-->
                  </a>
                </div>
              </div>
              <!-- .lits-group-item-figure -->
              <!-- .lits-group-item-body -->
              <div class="list-group-item-body">
                <h5 class="card-title mb-2">
                  <a href="">{{ item }}</a>
                </h5>
                <!--<p class="card-subtitle text-muted"> Progress in 74% - Last update date </p>-->
                <!--{{ item.plan.all.first }}-->
                {% with item.plan.all.first as distribution %}
                <p class="card-subtitle text-muted"> {% if item.plan %} {{ distribution.modified }} {% else %} {{ item.modified }} {% endif %}</p>

                    <div class="row shop-tracking-status">

                        <div class="col-md-12">
                            <div class="well">

                                <div class="order-status">

                                    <div class="order-status-timeline">
                                        <!-- class names: c0 c1 c2 c3 and c4 -->
                                        {% if not distribution %}
                                        <div class="order-status-timeline-completion c0 {{ item.section.color }}"></div>
                                        {% elif distribution.status == 'submitted' %}
                                        <div class="order-status-timeline-completion c1 {{ item.section.color }}"></div>
                                        {% elif distribution.delivery_expected_date %}
                                        <div class="order-status-timeline-completion c2 {{ item.section.color }}"></div>
                                        {% elif distribution.item_received %}
                                        <div class="order-status-timeline-completion c3 {{ item.section.color }}"></div>
                                        {% elif distribution.item_distributed %}
                                        <div class="order-status-timeline-completion c4 {{ item.section.color }}"></div>
                                        {% endif %}
                                    </div>

                                    <div class="image-order-status supply-plan-icon active img-circle">
                                        <span class="status">{{ item.status }}</span>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="image-order-status distribution-plan-icon active img-circle">
                                        <span class="status">{{ distribution.status }}</span>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="image-order-status shipping-icon active img-circle">
                                        <span class="status">{% if distribution.delivery_expected_date %}
                                                  {{ distribution.delivery_expected_date }}
                                                {% endif %}
                                        </span>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="image-order-status received-icon active img-circle">
                                        <span class="status">{% if distribution.item_received_date %}
                                          {{ distribution.item_received_date }}
                                          {% endif %}
                                        </span>
                                        <div class="icon"></div>
                                    </div>
                                    <div class="image-order-status distributed-icon active img-circle">
                                        <span class="status">{% if distribution.item_distributed_date %}
                                          {{ distribution.item_distributed_date }}
                                          {% endif %}
                                        </span>
                                        <div class="icon"></div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                    {% endwith %}
                <!-- /.progress -->
              </div>
              <!-- .lits-group-item-body -->
            </div>
            <!-- /.lits-group-item -->
          </div>
          {% endfor %}
          </div>
          <!-- /.lits-group -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /section-deck -->
    </div>
    <!-- /.page-section -->

{% endblock %}

{% block custom_javascript %}

{% endblock custom_javascript %}
