{% load util_tags %}
{% if request.user|has_group:"UNICEF_PO" %}
    {% if record.assigned_to and not record.assigned_to == 'None' %}

        <a class="btn btn-success assign-me assigned" itemref="{{ record.id }}">
            <i class="icon-edit-sign icon-white"></i>
            <span class="assigned_to_me">{{ record.assigned_to }}</span>
        </a>

    {% else %}

        <a class="btn btn-info assign-me unassigned" itemref="{{ record.id }}">
            <i class="icon-edit-sign icon-white"></i>
            <span class="assigned_to_me">Assign to me?</span>
        </a>

    {% endif %}


{% else %}

    {{ record.assigned_to }}

{% endif %}
