{% load util_tags %}
{% if request.user|has_group:"SM_VISIT" %}
  {% if not record.quality_assessment %}
    <a href="/tpm/assessment/{{ record.id }}/?slug=quality&mode=online" class="btn btn-info">
        <i class="icon-edit-sign icon-white"></i>
        Online
    </a>
    <a href="/tpm/assessment/{{ record.id }}/?slug=quality&mode=offline" class="btn btn-info" target="_blank">
        <i class="icon-edit-sign icon-white"></i>
        Offline
    </a>
  {% else %}
    Competed
  {% endif %}
{% else %}
    Not allowed
{% endif %}
