{% extends "base2.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load util_tags %}

{% block page-inner %}
    <!-- .page-title-bar -->
    <header class="page-title-bar">
      <p class="lead">
        <span class="font-weight-bold"></span>
        <span class="d-block text-muted"></span>
      </p>
    </header>
    <!-- /.page-title-bar -->
    <!-- .page-section -->
    <div class="">
      <!-- .section-block -->
      <div class="section-block">
        <!-- metric row -->
        <div class="metric-row">

        </div>
        <!-- /metric row -->
      </div>
      <div class="section-deck">
        <!-- .card -->
        <div class="card card-fluid">
          <header class="card-header"> Supply Monitoring Visits <span class="badge">({{ table.rows|length }})</span></header>
          <!-- .lits-group -->
          {% render_table table 'django_tables2/bootstrap.html' %}
          <!-- /.lits-group -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /section-deck -->
    </div>
    <!-- /.page-section -->
{% endblock page-inner %}

{% block custom_javascript %}
    {% get_user_token request.user.id as user_token %}
    <script>
        var tpm_url = '/api/tpm-visits/';
        var user_token = '{{ user_token }}';
        var user_id = '{{ request.user.id }}';
        var user_email = '{{ request.user }}';
        var csrftoken = $('input[name=csrfmiddlewaretoken]').val();


        $(document).ready(function() {

            $('.assign-me').dblclick(function(){
                if($(this).hasClass('unassigned')) {
                  assign_to_me($(this), user_id);
                }else{
                  assign_to_me($(this), null);
                }
            });

            $('.assign-tpm').dblclick(function(){
                var itemref = $(this).attr('itemref');
                $('.assign-tpm-block').addClass('d-none');
                $('#assign-tpm-block-'+itemref).removeClass('d-none');
            });

            $('.save-assign-btn').click(function(){
                var item = $(this);
                var itemref = item.attr('itemref');
                if($('#asisgned-tpm-'+itemref).val()) {
                    assign_to_tpm(item, $('#asisgned-tpm-'+itemref).val(), $('#asisgned-tpm-'+itemref).find(':selected').text());
                }
            });

            $('.cancel-assign-btn').click(function(){
                var itemref = $(this).attr('itemref');
                $('#assign-tpm-block-'+itemref).addClass('d-none');
                $('#assign-btn-'+itemref).removeClass('d-none');
            });

        });

        function getHeader()
        {
            var header = {
                'Authorization': 'Token '+user_token,
                'HTTP_REFERER': $(location).attr('href'),
                'Cookie': 'token=Token '+user_token,
                'X-CSRFToken': csrftoken
            };
            return header;
        }

        function assign_to_me(item, user)
        {
            var data = {assigned_to:user}
            $.ajax({
                type: "PATCH",
                url: tpm_url+item.attr('itemref')+'/',
                data: data,
                cache: false,
                headers: getHeader(),
                dataType: 'json',
                success: function (response, result, jqXHR) {
                    if(jqXHR.status == 200){
                        if(user) {
                          item.find('.assigned_to_me').text(user_email);
                          item.removeClass('unassigned');
                          item.addClass('assigned');
                          item.removeClass('btn-info');
                          item.addClass('btn-success');
                        }else{
                          item.find('.assigned_to_me').text('Assign to me?');
                          item.removeClass('assigned');
                          item.addClass('unassigned');
                          item.addClass('btn-info');
                          item.removeClass('btn-success');
                        }
                    }
                },
                error: function (response) {
                    console.log(response);
                }
            });
        }

    </script>
{% endblock custom_javascript %}
