{% extends "base.html" %}
{% load staticfiles i18n %}
{% load static %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% bootstrap_css %}

{% block extra_head %}
    <link href="{% static 'django_tables2/bootstrap.css' %}" rel="stylesheet" />
{% endblock %}

{% block modal %}
<section>

      <section id="page-title" class="inline-form inner-section ui-menu-color02">
        <div class="container-fluid nopadding">
            <h3 class="font-accident-two-light color01 uppercase"
                data-animation-origin="right"
                data-animation-duration="400"
                data-animation-delay="100"
                data-animation-distance="50px">{% trans "TPM Visits" %}</h3>
        </div>
    </section>

    <section style="padding-top:10px;">
          {% render_table table 'django_tables2/bootstrap.html' %}
    </section>
</section>
{% endblock %}
