{% extends "base.html" %}
{% load static i18n %}
{% block title %}Drivers List{% endblock %}

{% block content %}
<div class="container">
  <h2>Transporter Dashboard</h2>

<div class="row">
    <div class="col-12 col-sm-12 col-lg-12">
        <ul class="nav nav-tabs" id="myTab">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" role="tab" href="#transports">Transport Details</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" role="tab" href="#drivers">Driver Details</a></li>
        </ul>
    </div>


    <div id="content" class="tab-content">

        <div role="tabpanel" class="tab-pane  active " id="transports">

                  <table class="table table-hover">
         <thead>
      <tr>
        <th>Release Order</th>
          <th>Waybill</th>
        <th>Sub-Waybill</th>
        <th>Source Warehouse</th>
        <th>Destination Warehouse</th>
        <th>Delivery Date</th>
        <th>Driver</th>
      </tr>
    </thead>
        <tbody>
    {% for transport in transport_list %}

      <tr {% if transport.driver_id == None %}  class="table-danger"  {% endif %} >

        <td>{{ transport.RO_id.release_order_id }}</td>
        <td>{{ transport.RO_id.waybill_ref }}</td>
        <td>{{ transport.sub_waybill_ref }}</td>
        <td>{{ transport.loading_warehouse }}</td>
        <td>{{ transport.destination_warehouse }}</td>
          <td>{{ transport.delivery_date }}</td>
        <td>{{ transport.driver }}</td>
      </tr>

    {% endfor %}
        </tbody>
  </table>
        </div>

        <div role="tabpanel" class="tab-pane" id="drivers">
                  <table class="table table-hover">
         <thead>
      <tr>
        <th>Driver Name</th>
        <th>Phone Number</th>
        <th>Vehicle Type</th>
        <th>Plate Number</th>
      </tr>
    </thead>
        <tbody>
    {% for driver in driver_list %}


      <tr>
        <td>{{ driver.driver_name }}</td>
        <td>{{ driver.phone_number }}</td>
        <td>{{ driver.vehicle_type }}</td>
        <td>{{ driver.plate_number }}</td>
      </tr>

    {% endfor %}
        </tbody>
  </table>
        </div>

    </div><!-- end content -->

</div><!-- end row -->




</div>


{% endblock content %}

{% block custom_javascript %}

{%  endblock custom_javascript %}
